/*Höhe von body wird in Boot.ts ausgerechnet*/
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
    /*margin: auto;*/
    background-color: black;
    border: 1px solid white;
}

navbar button.Exit{
  background-color: red;
  color: white;
  cursor: pointer;
}

navbar.horizontal{
  border: 1px solid white;
  display: list-item;
}

navbar.horizontal button.Exit {
  float: right;
}

navbar.vertical{
  height: 500px;
  display: grid;
  grid-template-columns: 100px;
}

navbar.vertical button{
  height: 20px;
}


navbar.vertical button.Exit {
  float:inline-start;
}

main{
  display: ruby;
}

